body {
  background-color: darkgray;
}

a {
  color: rgb(205, 46, 236);
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 10px;
}

h1 {
  font-size: 50px;
  color: rgb(216, 9, 9, 0.6);
}

h2 {
  color: rgb(95, 79, 238);
  font-size: larger;
}

#container {
  background-color: aquamarine;

  border: 10px inset blue;
  border-radius: 20%;
  width: 200px;
  height: 200px;
  overflow: auto;
  padding: 10px;
  margin: auto;
}

img {
    border: 20px dotted hotpink;
    border-radius: 30%;
}